{% extends "layout/base" %}

{% block content %}

  <div class="s-home">

    <section id="welcome" class="s-home-intro">
      <h1>{{ siteName }}</h1>
      <p>{{ company.briefMissionStatement }}</p>
    </section>

    <section>
      {% for block in entry.homePageSections %}

        {% if block.type == "richText" %}

          <article class="b-section"
                    {% if block.menuTitle is not empty %}
                      id="{{ block.menuTitle|lower|replace('/[^a-zA-Z0-9]/', '-') }}"
                    {% endif %}>
            <div class="l-constrained-medium b-content">
              {{ block.body }}
            </div>
          </article>

        {% elseif block.type == "callout" %}

          {% if block.body is not empty or
                (block.ctaText is not empty and block.ctaUrl is not empty) %}
            <article class="b-callout">
              <div class="l-constrained-medium b-content">
                {% if block.body is not empty %}
                  {{ block.body }}
                {% endif %}
                {% if block.ctaText is not empty and block.ctaUrl is not empty %}
                  <a href="{{ block.ctaUrl }}"
                      class="btn-bright-inverse"
                      target="{{ block.ctaTarget }}">
                    {{ block.ctaText }}
                  </a>
                {% endif %}
              </div>
            </article>
          {% endif %}

        {% elseif block.type == "gallery" %}
        {% endif %}

      {% endfor %}
    </section>

  </div>

{% endblock %}
