{% extends "layout/base" %}

{% set floatNav = true %}

{% block content %}

  {% set count = 0 %}

  <div class="s-home">

    <section id="welcome" class="s-home-intro">
      <div class="s-home-intro__logo">
        <img src="/assets/images/logos/city-hearts-light.png" alt="City Hearts">
      </div>
      <p class="a-wow fadeIn">
        {{ company.briefMissionStatement }}
      </p>
    </section>

    <section>
      {% for block in entry.homePageSections %}

        {% if block.type == "richText" %}

          {% set image = block.headerImage|first %}
          {% if image %}
            {% set count = 0 %}
          {% endif %}
          {% set count = count + 1 %}
          <article class="b-section b-rich-text-section
              {% if count is even %}alt{% endif %}
              {% if image %}header-image{% endif %}"
              {% if block.menuTitle is not empty %}
                id="section-{{ block.menuTitle|lower|replace('/[^a-zA-Z0-9]/', '-') }}"
              {% endif %}>
            {% if image %}
              <header style="background-image: url({{ image.url }});"></header>
            {% endif %}
            <div class="l-constrained-large b-content a-wow fadeInUp"
                  data-wow-delay="0.3s">
              {{ block.body }}
            </div>
          </article>

        {% elseif block.type == "callout" %}

          {% if block.body is not empty or
                (block.ctaText is not empty and block.ctaUrl is not empty) %}
            {% set count = 0 %}
            <article class="b-callout a-wow fadeIn"
                      data-wow-delay="0.1s"
                      data-wow-offset="50">
              <div class="l-constrained-xlarge">
                <div class="b-content">
                  {% if block.body is not empty %}
                    {{ block.body }}
                  {% endif %}
                  {% if block.ctaText is not empty and block.ctaUrl is not empty %}
                    <a href="{{ block.ctaUrl }}"
                        class="btn-bright-inverse a-wow flipInX"
                        data-wow-delay="0.3s"
                        data-wow-offset="50"
                        target="{{ block.ctaTarget }}">
                      {{ block.ctaText }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </article>
          {% endif %}

        {% elseif block.type == "gallery" %}

          {% if block.images is not empty %}
            {% set count = count + 1 %}
            <section class="b-section {% if count is even %}alt{% endif %}">
              <div class="b-slideshow a-wow fadeIn" data-carousel>
                {% for image in block.images %}
                  <article id="slide-{{ block.id }}-{{ image.id }}" class="b-slide">
                    {% do image.setTransform('carousel') %}
                    {{ image.img }}
                    {# <img src="{{ image.url }}"
                          alt="{{ image.filename }}"
                          width="{{ image.width }}"
                          height="{{ image.height }}"
                          class="image-fullwidth"> #}
                  </article>
                {% endfor %}
              </div>
            </section>
          {% endif %}

        {% endif %}

      {% endfor %}
    </section>

  </div>

{% endblock %}
